.list-item {
  color: black;
  font-size: 2rem;
  margin-right: 4rem;
  cursor: pointer;
  text-transform: capitalize;
  &.active {
    background-color: #15023a;
    padding: 1.2rem 2rem;
    border-radius: 0.5rem;
    color: white;
  }
}
