@import "./global.scss";

.app {
  .header {
    padding: 1.5rem 10%;
  }

  .sections {
    > * {
      padding: 6rem 10%;
    }
  }
}
// media quearies
@include device(1024px) {
  .app {
    .header {
      padding: 1.5rem 5%;
    }

    .sections {
      > * {
        padding: 5rem 5%;
      }
    }
  }
}

@include device(991px) {
  .app {
    .header {
      padding: 1.5rem 3rem;
    }

    .sections {
      > * {
        padding: 5rem 3rem;
      }
    }
  }
}
@include device(450px) {
  .app {
    .header {
      padding: 1.5rem 2rem;
    }

    .sections {
      > * {
        padding: 2rem;
      }
    }
  }
}
